output "Smithay Winit Unknown" {
    mode "1600x900@60"
    scale 0.8
}

spawn-sh-at-startup "swaybg --image ~/.config/wallpaper.png"
spawn-at-startup "waybar"
prefer-no-csd

window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
    draw-border-with-background false

    focus-ring {
        off
    }

    border {
        on
        width 6
        active-gradient from="#0088AA" to="#AA8800" angle=45
        inactive-color "#222222"
    }
}

// Shadow behind floating windows
window-rule {
    match is-floating=true
    match title="Fuzzel"

    opacity 0.9

    shadow {
        on
        spread 10
        softness 100
        color "#000"
    }
}

binds {
    // help
    Alt+Shift+Slash { show-hotkey-overlay; }

    // Apps
    Alt+T           { spawn "ghostty"; }
    Alt+Return      { spawn "fuzzel"; }

    // Manage windows
    Alt+L           { focus-window-down-or-column-right; }
    Alt+H           { focus-window-up-or-column-left; }
    Alt+Shift+L     { consume-or-expel-window-right; }
    Alt+Shift+H     { consume-or-expel-window-left; }

    Alt+K           { focus-workspace-up; }
    Alt+J           { focus-workspace-down; }
    Alt+Shift+K     { move-column-to-workspace-up; }
    Alt+Shift+J     { move-column-to-workspace-down; }

    Alt+Minus       { set-column-width "-2.5%"; }
    Alt+Equal       { set-column-width "+2.5%"; }
    Alt+Shift+Minus { set-window-height "-2.5%"; }
    Alt+Shift+Equal { set-window-height "+2.5%"; }

    Alt+F           { maximize-column; }
    Alt+Shift+F     { fullscreen-window; }

    Alt+Q           { close-window; }

    // Floating windows...
    Alt+F2          { toggle-window-floating; }
    Mod5+Shift+L    { spawn "niri" "msg" "action" "move-floating-window" "-x" "+10"; }
    Mod5+Shift+H    { spawn "niri" "msg" "action" "move-floating-window" "-x" "-10"; }
    Mod5+Shift+J    { spawn "niri" "msg" "action" "move-floating-window" "-y" "+10"; }
    Mod5+Shift+K    { spawn "niri" "msg" "action" "move-floating-window" "-y" "-10"; }
    Mod5+Return     { switch-focus-between-floating-and-tiling; }

    // Misc
    Ctrl+F1         { screenshot; }

    Alt+Shift+Q     { quit; }
}

hotkey-overlay {
    hide-not-bound
}

input {
    keyboard {
        xkb {
            layout "pl"
        }
        numlock
    }
}
