input {
    keyboard {
        xkb {
            layout "pl"
        }
        numlock
    }
}

output "Smithay Winit Unknown" {
    mode "1600x900@60"
    scale 0.8
}

spawn-sh-at-startup "swaybg --image ~/.config/wallpaper.png"
// spawn-at-startup "waybar"
prefer-no-csd

binds {
    // help
    Alt+Shift+Slash { show-hotkey-overlay; }

    // Apps
    Alt+T           { spawn "ghostty"; }
    Alt+Return      { spawn "fuzzel"; }

    // Manage windows
    Alt+L           { focus-column-right; }
    Alt+H           { focus-column-left; }
    Ctrl+L          { swap-window-right; }
    Ctrl+H          { swap-window-left; }

    Ctrl+K          { move-column-to-workspace-up; }
    Ctrl+J          { move-column-to-workspace-down; }
    Alt+Shift+K     { focus-workspace-up; }
    Alt+Shift+J     { focus-workspace-down; }

    Alt+Minus       { set-column-width "-10%"; }
    Alt+Equal       { set-column-width "+10%"; }
    Alt+Shift+Minus { set-window-height "-10%"; }
    Alt+Shift+Equal { set-window-height "+10%"; }

    Alt+F           { maximize-column; }
    Alt+Shift+F     { fullscreen-window; }

    Alt+Q           { close-window; }

    // Misc
    Ctrl+F1         { screenshot; }

    Alt+Shift+Q     { quit; }
}

hotkey-overlay {
    hide-not-bound
}
