window#waybar.top {
    background: rgba(10, 10, 10, 0.35);
    border-radius: 20px;
    margin: 0px 10px;
    color: #fff;
}

#pulseaudio {
    min-width: 50px;
    margin: 0px 10px;
}

#workspaces {
    margin: 0px 8px;
}

#workspaces button {
    min-width: 25px;
    color: #fff;
    margin: 0px 2px;
    padding: 2px;
}

#workspaces button.focused {
    border-bottom: 3px solid #fff;
    border-radius: 5px;
}

#workspaces button.selected {
    background: rgba(10, 10, 10, .35);
    border-bottom: 3px solid #fff;
    border-radius: 5px;
}

#clock {
    background: rgba(10, 10, 10, .35);
    color: #fff;
    padding: 0px 10px;
    border-radius: 20px;
}

